/*Стили элемента блока*/
.popup__submit-button {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  height: 50.15px;
  outline: none;
  border: 0;
  background: #000000;
  border-radius: 2px;
  padding: 0;
  align-self: center;
  transition: opacity 0.7s ease;
}

/*Псевдоклассы для изменения стилей при взаимодействии с пользователем*/
.popup__submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.popup__submit-button:active {
  outline: none;
}

.popup__submit-button:focus {
  outline: none;
}