/*Стили элемента блока
.profile__add-button-img {
  width: 150px;
}

/*Медиа-запросы для регулирования свойств при разном разрешении экрана
  .profile__add-button-img {
    width: 282px;
    height: 54.4px;
  }
}*/