/*Подключение модификаторов элемента*/
@import url('./_name/popup__input_name.css');
@import url('./_profession/popup__input_profession.css');

/*Стили элемента блока*/
.popup__input {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 27.3px;
  padding: 0;
}

/*Псевдоклассы для изменения стилей при взаимодействии с пользователем*/
.popup__input:active {
  outline: 0;
}

.popup__input:focus {
  outline: 0;
}

/*Медиа-запрос для регулирования свойств при разном разрешении экрана*/
@media screen and (max-width: 500px) {
  .popup__input {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
  }
}  